/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.card-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.card-header .btn {
  margin-left: auto;
}

.card {
  margin-bottom: 25px;
}
